<h1>Introduction</h1>
Megaline is trying to predict the best model of their two new models for their legacy subscribers based on those subscribers' previous behavior. This project presents different models to do so and selects the best one based on their accuracy.

Import statements necessary to complete project

In [77]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

<h3>Open and look through the data file</h3>

Import data into dataframe

In [78]:
megaline_user_data = pd.read_csv('/Users/leahdeyoung/Desktop/GitHub/megaline-new-plan-practicum/users_behavior.csv', encoding = "utf-8")

Display dataframe info and a random sample of 10 lines

In [79]:
display(megaline_user_data.sample(10))
megaline_user_data.info()

      calls  minutes  messages   mb_used  is_ultra
2004   59.0   452.15      47.0  13053.02         0
1167   90.0   656.91      49.0  17636.40         0
2162   31.0   176.00      48.0  25040.63         0
1422   99.0   705.18      24.0  19813.35         0
217    57.0   373.01       0.0  13759.77         0
1002   35.0   197.96      45.0  21425.84         0
1579   24.0   163.75       0.0  14226.81         1
1164   37.0   267.39       0.0  15195.95         0
3165   79.0   505.50     105.0  12406.00         0
457    99.0   642.81      45.0  10187.06         1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3214 entries, 0 to 3213
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   calls     3214 non-null   float64
 1   minutes   3214 non-null   float64
 2   messages  3214 non-null   float64
 3   mb_used   3214 non-null   float64
 4   is_ultra  3214 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 125.7 KB

<h3>Split the source data into a training set, a validation set, and a test set</h3>

In [80]:
mega_train1, mega_test = train_test_split (megaline_user_data, test_size=0.20, train_size = 0.80, random_state=12345, shuffle=True)
mega_train, mega_valid = train_test_split (mega_train1, test_size=0.25, train_size = 0.75, random_state=12345, shuffle=True)

display(mega_train.sample(10))
mega_train.info()
display(mega_test.sample(10))
mega_test.info()
display(mega_valid.sample(10))
mega_valid.info()

features_train = mega_train.drop(['is_ultra'], axis=1)
target_train = mega_train['is_ultra']
features_valid = mega_valid.drop(['is_ultra'], axis=1)
target_valid = mega_valid['is_ultra']
features_test = mega_test.drop(['is_ultra'], axis=1)
target_test = mega_test['is_ultra']

      calls  minutes  messages   mb_used  is_ultra
1181  141.0  1043.89      22.0  32651.11         0
461   176.0  1167.79      48.0  32441.14         1
410    33.0   220.24      15.0   6547.66         0
2002   34.0   274.53      13.0   5762.76         0
2299   45.0   316.49      46.0  21354.67         1
2471    9.0    44.51      12.0   4829.62         0
307    54.0   312.85      10.0   7798.27         0
1780   73.0   419.90       0.0  18521.67         0
2630   56.0   418.38      13.0  18383.56         0
77      1.0     1.00     153.0  22753.12         1

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1928 entries, 2656 to 510
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   calls     1928 non-null   float64
 1   minutes   1928 non-null   float64
 2   messages  1928 non-null   float64
 3   mb_used   1928 non-null   float64
 4   is_ultra  1928 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 90.4 KB

      calls  minutes  messages   mb_used  is_ultra
174    65.0   442.65      72.0  32950.36         1
869    69.0   482.18      40.0  11178.07         1
3065   91.0   610.31      46.0  23953.48         0
3057   59.0   381.49      47.0  17272.81         0
2537   97.0   788.48       0.0  23525.63         1
1023   76.0   601.10       0.0  17104.36         0
724    30.0   204.00      87.0  14152.16         0
2510   63.0   508.70      21.0  19254.67         1
1651   58.0   408.53       2.0  15346.04         0
1919   49.0   294.37      39.0  19406.60         0

<class 'pandas.core.frame.DataFrame'>
Int64Index: 643 entries, 1415 to 1196
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   calls     643 non-null    float64
 1   minutes   643 non-null    float64
 2   messages  643 non-null    float64
 3   mb_used   643 non-null    float64
 4   is_ultra  643 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 30.1 KB

      calls  minutes  messages   mb_used  is_ultra
978    66.0   443.83       0.0  17672.29         0
418    15.0    96.36       3.0   2827.29         0
490    56.0   334.29      82.0  21969.01         0
3166   71.0   506.27      98.0  19864.42         0
713   178.0  1354.75      10.0   4880.62         1
986    65.0   474.16       3.0  15983.41         1
301    62.0   404.81      78.0  16948.05         0
1943   85.0   570.68      85.0  13052.67         0
1814   41.0   273.09       8.0  25761.38         0
1564   42.0   280.21       0.0  19316.23         0

<class 'pandas.core.frame.DataFrame'>
Int64Index: 643 entries, 2699 to 1806
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   calls     643 non-null    float64
 1   minutes   643 non-null    float64
 2   messages  643 non-null    float64
 3   mb_used   643 non-null    float64
 4   is_ultra  643 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 30.1 KB

I split the data into three sets using the idea of a 3:1:1 model (training:validation:test) since we only have one set of data. I used the train_test_split function twice to do so since that function will only split the data into two sets.

<h3>Investigate the quality of different models by changing hyperparameters. Briefly describe the findings of the study</h3>

Decision Tree Model

In [81]:
for depth in range(2, 16):
    model = DecisionTreeClassifier(random_state=12345, max_depth=depth)
    model.fit(features_train, target_train)
    predictions_valid = model.predict(features_valid)
    accurate_score = accuracy_score(target_valid, predictions_valid)
    print('max_depth =', depth, ': ', end='')
    print(accurate_score)

max_depth = 2 : 0.7573872472783826
max_depth = 3 : 0.7651632970451011
max_depth = 4 : 0.7636080870917574
max_depth = 5 : 0.7589424572317263
max_depth = 6 : 0.7573872472783826
max_depth = 7 : 0.7744945567651633
max_depth = 8 : 0.7667185069984448
max_depth = 9 : 0.7620528771384136
max_depth = 10 : 0.7713841368584758
max_depth = 11 : 0.7589424572317263
max_depth = 12 : 0.7558320373250389
max_depth = 13 : 0.749611197511664
max_depth = 14 : 0.7573872472783826
max_depth = 15 : 0.7527216174183515

I started by investigating a range of 1-5, then 2-10, then 10-20 for the depth. The accuracy of this model seems to peak at a depth of 10, after which it drops back off again, so I set the range from 2 to 15 to encourage speed.

In [82]:
decision_model = DecisionTreeClassifier(random_state=12345, max_depth=10)
decision_model.fit(features_train, target_train)
predictions_valid = decision_model.predict(features_valid)
accurate_score = accuracy_score(target_valid, predictions_valid)
print(accurate_score)

0.7713841368584758

The decision tree model peaks at an accuracy of approximately 77%. While this is higher than the hoped-for 75%, it is not hte highest that we see.

Random Forest Model

In [83]:
best_score = 0
best_est = 0

for est in range(1, 31):
    random_model = RandomForestClassifier(random_state=12345, n_estimators=est)
    random_model.fit(features_train, target_train)
    score = random_model.score(features_valid, target_valid)
    if score > best_score:
        best_score = score
        best_est = est

print("Accuracy of the best model on the validation set (n_estimators = {}): {}".format(best_est, best_score))

Accuracy of the best model on the validation set (n_estimators = 22): 0.7931570762052877

I started by investigating a range of 1-10, then 1-20, then 10-30 for the depth. The accuracy of this model seems to peak at a depth of 22, after which it drops back off again, so I set the range from 1 to 30. It runs slowly regardless of the range, so I erred on the side of thoroughness

In [84]:
final_model = RandomForestClassifier(random_state=12345, n_estimators=22) #selected based on accuracy determined above
final_model_fit = final_model.fit(features_train, target_train)

final_model_score = final_model.score(features_valid, target_valid)
print(final_model_score)

0.7931570762052877

This model seems to have the highest accuracy at approximately 79% with 22 estimators.

Logistic Regression Model

In [85]:
logistic_model =  LogisticRegression(random_state=12345, solver='liblinear')
logistic_model.fit(features_train, target_train)
score_train = logistic_model.score(
    features_train, target_train 
)  
score_valid = logistic_model.score(
  features_valid ,target_valid
)  

print(
    "Accuracy of the logistic regression model on the training set:",
    score_train,
)
print(
    "Accuracy of the logistic regression model on the validation set:",
    score_valid,
)

Accuracy of the logistic regression model on the training set: 0.7422199170124482
Accuracy of the logistic regression model on the validation set: 0.7293934681181959

This model seems to have the lowest accuracy at between 72% and 74% accurate. This does not meet the threshold for this project.

Overall, the Random Forest model seems to have the highest level of accuracy. This is the model I have chosen to use going forward.

<h3>Check the quality of the model using the test set</h3>

This code checks the quality of the random forest model.

In [86]:
test_model = RandomForestClassifier(random_state=12345, n_estimators=22) #selected based on accuracy determined above
test_model_fit = test_model.fit(features_train, target_train)

predictions_test = test_model.predict(features_test)
target_test = target_test.reset_index(drop=True)

correct = 0
for i in range(len(target_test)):
    if target_test[i] == predictions_test[i]:
        correct += 1
accuracy = correct / len(target_test)

print('Accuracy:', accuracy)

Accuracy: 0.7838258164852255

<h3>Additional task: sanity check the model. This data is more complex than what you’re used to working with, so it's not an easy task. We'll take a closer look at it later</h3>

This code uses the validation set to check the random forest model.

In [87]:
train_model = RandomForestClassifier(random_state=12345, n_estimators=22) #selected based on accuracy determined above
train_model_fit = train_model.fit(features_train, target_train)
predictions_train = train_model.predict(features_train)

print('Accuracy')
print('Training set:', accuracy_score(target_train, predictions_train))
print('Test set:', accuracy_score(target_test, predictions_test))

Accuracy
Training set: 0.9953319502074689
Test set: 0.7838258164852255

This code sanity checks the datatypes and the content of the data and checking for duplicates. By converting the calls and messages to integers, I confirmed they are all whole numbers. By converting the is_ultra column to a boolean, I confirmed all values are 1 or 0. I did not do this at first because I was unsure if it would affect the models. Calling the info() method at the beginning of the project confirmed there are no missing values.

In [88]:
print(megaline_user_data.duplicated().sum())
megaline_user_data['calls'] = megaline_user_data['calls'].astype('int')
megaline_user_data['messages'] = megaline_user_data['messages'].astype('int')
megaline_user_data['is_ultra'] = megaline_user_data['is_ultra'].astype('boolean')

0

<h1>Conclusion</h1>
Although the random forest model runs a bit more slowly, in this case, with this dataset, the difference is relatively negligible, and the accuracy is higher. I would recommend using this model going forward.