Import statements necessary to complete project

In [3]:
import pandas as pd
import sklearn
import joblib
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor	
from sklearn.linear_model import LinearRegression	
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

1. Open and look through the data file.

Import data into dataframe

In [4]:
megaline_user_data = pd.read_csv('/Users/leahdeyoung/Desktop/GitHub/megaline-new-plan-practicum/users_behavior.csv', encoding = "utf-8")

Display dataframe info and first five lines

In [6]:
display(megaline_user_data.sample(10))
megaline_user_data.info()

      calls  minutes  messages   mb_used  is_ultra
1046   70.0   533.32      13.0  10801.91         0
2868   99.0   755.42      42.0  16218.21         0
2003   82.0   582.77      65.0  19612.14         0
1193   63.0   448.69      10.0  22764.14         0
2487   67.0   439.01      20.0  24095.57         0
2578   37.0   306.40       2.0  16032.36         0
1656   66.0   470.97      31.0  22773.52         0
1561   59.0   486.67       0.0  13432.30         1
505   169.0  1111.51      53.0  27728.78         1
439    52.0   342.10       4.0  17785.85         0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3214 entries, 0 to 3213
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   calls     3214 non-null   float64
 1   minutes   3214 non-null   float64
 2   messages  3214 non-null   float64
 3   mb_used   3214 non-null   float64
 4   is_ultra  3214 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 125.7 KB

2. Split the source data into a training set, a validation set, and a test set.

In [13]:
mega_train1, mega_test = train_test_split (megaline_user_data, test_size=0.20, train_size = 0.80, random_state=12345, shuffle=True)
mega_train, mega_valid = train_test_split (mega_train, test_size=0.25, train_size = 0.75, random_state=12345, shuffle=True)

display(mega_train.head())
mega_train.info()
display(mega_test.head())
mega_test.info()
display(mega_valid.head())
mega_valid.info()

      calls  minutes  messages   mb_used  is_ultra
2656   30.0   185.07      34.0  17166.53         0
823    42.0   290.69      77.0  21507.03         0
2566   41.0   289.83      15.0  22151.73         0
1451   45.0   333.49      50.0  17275.47         0
2953   43.0   300.39      69.0  17277.83         0

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1928 entries, 2656 to 510
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   calls     1928 non-null   float64
 1   minutes   1928 non-null   float64
 2   messages  1928 non-null   float64
 3   mb_used   1928 non-null   float64
 4   is_ultra  1928 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 90.4 KB

      calls  minutes  messages   mb_used  is_ultra
1415   82.0   507.89      88.0  17543.37         1
916    50.0   375.91      35.0  12388.40         0
1670   83.0   540.49      41.0   9127.74         0
686    79.0   562.99      19.0  25508.19         1
2951   78.0   531.29      20.0   9217.25         0

<class 'pandas.core.frame.DataFrame'>
Int64Index: 643 entries, 1415 to 1196
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   calls     643 non-null    float64
 1   minutes   643 non-null    float64
 2   messages  643 non-null    float64
 3   mb_used   643 non-null    float64
 4   is_ultra  643 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 30.1 KB

      calls  minutes  messages   mb_used  is_ultra
2699   71.0   512.53      27.0  15772.68         0
242   183.0  1247.04     150.0  29186.41         1
2854   34.0   246.06      31.0   8448.76         0
1638   63.0   468.66       0.0  11794.34         0
1632    4.0    19.85      28.0  13107.42         0

<class 'pandas.core.frame.DataFrame'>
Int64Index: 643 entries, 2699 to 1806
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   calls     643 non-null    float64
 1   minutes   643 non-null    float64
 2   messages  643 non-null    float64
 3   mb_used   643 non-null    float64
 4   is_ultra  643 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 30.1 KB

3. Investigate the quality of different models by changing hyperparameters. Briefly describe the findings of the study.