Import statements necessary to complete project

In [42]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

1. Open and look through the data file.

Import data into dataframe

In [43]:
megaline_user_data = pd.read_csv('/Users/leahdeyoung/Desktop/GitHub/megaline-new-plan-practicum/users_behavior.csv', encoding = "utf-8")

Display dataframe info and first five lines

In [44]:
display(megaline_user_data.sample(10))
megaline_user_data.info()

      calls  minutes  messages   mb_used  is_ultra
2686   32.0   218.95       0.0  36180.51         1
872    88.0   581.50      85.0  16127.19         0
805    40.0   232.35      37.0  13941.60         0
2512   35.0   257.09      28.0  16617.34         0
63    125.0   814.53      61.0  16917.44         1
2140   74.0   546.21      35.0  20134.43         0
232    42.0   260.94      79.0  17519.93         1
563    33.0   164.87      26.0   6290.25         0
1019   77.0   530.07      69.0  12697.45         0
1643   22.0   171.90     126.0  23256.08         1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3214 entries, 0 to 3213
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   calls     3214 non-null   float64
 1   minutes   3214 non-null   float64
 2   messages  3214 non-null   float64
 3   mb_used   3214 non-null   float64
 4   is_ultra  3214 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 125.7 KB

2. Split the source data into a training set, a validation set, and a test set.

In [45]:
mega_train1, mega_test = train_test_split (megaline_user_data, test_size=0.20, train_size = 0.80, random_state=12345, shuffle=True)
mega_train, mega_valid = train_test_split (mega_train1, test_size=0.25, train_size = 0.75, random_state=12345, shuffle=True)

display(mega_train.sample(10))
mega_train.info()
display(mega_test.sample(10))
mega_test.info()
display(mega_valid.sample(10))
mega_valid.info()

      calls  minutes  messages   mb_used  is_ultra
1863   37.0   290.20      21.0  10272.33         1
3015   42.0   285.25      34.0  11348.42         0
1136   89.0   602.81      56.0  19293.91         0
3034  103.0   711.94      42.0  16667.97         0
845   118.0   799.40       0.0  12828.73         1
1761   65.0   368.33      13.0  22293.84         0
1355   72.0   495.11      34.0  15887.37         0
341   108.0   728.68       4.0  14340.84         1
1140   40.0   195.79      55.0  19493.38         0
2381   18.0   118.15      83.0  11368.77         1

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1928 entries, 2656 to 510
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   calls     1928 non-null   float64
 1   minutes   1928 non-null   float64
 2   messages  1928 non-null   float64
 3   mb_used   1928 non-null   float64
 4   is_ultra  1928 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 90.4 KB

      calls  minutes  messages   mb_used  is_ultra
2948   18.0    92.38       0.0   4060.64         1
1186   34.0   249.38       0.0  15363.82         0
2060   94.0   644.05      66.0  23519.17         0
2511   72.0   439.92      29.0  14472.76         0
1004   37.0   279.41       0.0  27548.01         1
1435   76.0   585.56      30.0  22165.13         0
1694   70.0   450.96      34.0  16848.98         0
689    33.0   130.76       0.0  20875.63         0
724    30.0   204.00      87.0  14152.16         0
2331   54.0   349.38      24.0  18433.42         0

<class 'pandas.core.frame.DataFrame'>
Int64Index: 643 entries, 1415 to 1196
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   calls     643 non-null    float64
 1   minutes   643 non-null    float64
 2   messages  643 non-null    float64
 3   mb_used   643 non-null    float64
 4   is_ultra  643 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 30.1 KB

      calls  minutes  messages   mb_used  is_ultra
2944  156.0  1302.89     105.0  42320.89         1
25     53.0   356.22      52.0  22471.77         0
1506  110.0   823.90     135.0  24051.19         1
1998   53.0   388.55      40.0  12804.13         0
2643   84.0   528.27      16.0  18328.10         0
1927   82.0   643.82      28.0  26403.93         1
844   160.0  1055.79      54.0  33629.53         1
2616   45.0   266.20      90.0  32625.39         1
1346   49.0   310.78       3.0  11506.66         0
419    91.0   686.38      62.0  20499.92         0

<class 'pandas.core.frame.DataFrame'>
Int64Index: 643 entries, 2699 to 1806
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   calls     643 non-null    float64
 1   minutes   643 non-null    float64
 2   messages  643 non-null    float64
 3   mb_used   643 non-null    float64
 4   is_ultra  643 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 30.1 KB

3. Investigate the quality of different models by changing hyperparameters. Briefly describe the findings of the study.

In [46]:
features_train = mega_train.drop(['is_ultra'], axis=1)
target_train = mega_train['is_ultra']
features_valid = mega_valid.drop(['is_ultra'], axis=1)
target_valid = mega_valid['is_ultra']
features_test = mega_test.drop(['is_ultra'], axis=1)
target_test = mega_test['is_ultra']

print(features_train.shape)
print(target_train.shape)
print(features_valid.shape)
print(target_valid.shape)

(1928, 4)
(1928,)
(643, 4)
(643,)

Decision Tree

In [47]:
for depth in range(2, 16):
    model = DecisionTreeClassifier(random_state=12345, max_depth=depth)
    model.fit(features_train, target_train)
    predictions_valid = model.predict(features_valid)
    accurate_score = accuracy_score(target_valid, predictions_valid)
    print('max_depth =', depth, ': ', end='')
    print(accurate_score)

max_depth = 2 : 0.7573872472783826
max_depth = 3 : 0.7651632970451011
max_depth = 4 : 0.7636080870917574
max_depth = 5 : 0.7589424572317263
max_depth = 6 : 0.7573872472783826
max_depth = 7 : 0.7744945567651633
max_depth = 8 : 0.7667185069984448
max_depth = 9 : 0.7620528771384136
max_depth = 10 : 0.7713841368584758
max_depth = 11 : 0.7589424572317263
max_depth = 12 : 0.7558320373250389
max_depth = 13 : 0.749611197511664
max_depth = 14 : 0.7573872472783826
max_depth = 15 : 0.7527216174183515

In [48]:
decision_model = DecisionTreeClassifier(random_state=12345, max_depth=10)
decision_model.fit(features_train, target_train)
predictions_valid = decision_model.predict(features_valid)
accurate_score = accuracy_score(target_valid, predictions_valid)
print(accurate_score)

0.7713841368584758

Random Forest

In [49]:
best_score = 0
best_est = 0

for est in range(1, 31):
    random_model = RandomForestClassifier(random_state=12345, n_estimators=est)
    random_model.fit(features_train, target_train)
    score = random_model.score(features_valid, target_valid)
    if score > best_score:
        best_score = score
        best_est = est

print("Accuracy of the best model on the validation set (n_estimators = {}): {}".format(best_est, best_score))

Accuracy of the best model on the validation set (n_estimators = 22): 0.7931570762052877

In [50]:
final_model = RandomForestClassifier(random_state=12345, n_estimators=22) #selected based on accuracy determined above
final_model_fit = final_model.fit(features_train, target_train)

final_model_score = final_model.score(features_valid, target_valid)
print(final_model_score)

0.7931570762052877

Logistic Regression

In [51]:
logistic_model =  LogisticRegression(random_state=12345, solver='liblinear')
logistic_model.fit(features_train, target_train)
score_train = logistic_model.score(
    features_train, target_train 
)  
score_valid = logistic_model.score(
  features_valid ,target_valid
)  

print(
    "Accuracy of the logistic regression model on the training set:",
    score_train,
)
print(
    "Accuracy of the logistic regression model on the validation set:",
    score_valid,
)

Accuracy of the logistic regression model on the training set: 0.7422199170124482
Accuracy of the logistic regression model on the validation set: 0.7293934681181959

4. Check the quality of the model using the test set.

In [52]:
test_model = RandomForestClassifier(random_state=12345, n_estimators=22) #selected based on accuracy determined above
test_model_fit = test_model.fit(features_test, target_test)

test_model_score = test_model.score(features_test, target_test)
print(test_model_score)

0.9922239502332815